@page "/"

<PageTitle>Blazor WASM SPA + OSRlib.NET</PageTitle>

<h1>Welcome!</h1>

This application demonstrates using <a href="https://github.com/mmacy/osrlib-dotnet">OSRlib.NET</a> in a Blazor WASM single-page app (SPA).

<p></p>

<a href="authentication/login">Log in or sign up</a> to get started.