@page "/api-tester"
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>OSRlib | API test</PageTitle>

<h1>Test API access</h1>

<p>This component demonstrates fetching data from an API.</p>

@if (stringBeing == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @jsonBeing;
}

@code {
    private Being? jsonBeing;
    private string? stringBeing;

    protected override async Task OnInitializedAsync()
    {
        stringBeing = await Http.GetStringAsync("http://localhost:5207/Game/RollCharacter?name=Blarg%20From%20WASM");

        JsonSerializer serializer = new JsonSerializer();

        jsonBeing = JsonConvert.DeserializeObject<Being>(stringBeing);
        //jsonBeing = await Http.GetFromJsonAsync<Being>("http://localhost:5207/Game/RollCharacter?name=Blarg%20From%20WASM");
    }
}
